@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cabin:ital@1&family=Dancing+Script:wght@700&family=Heebo:wght@200;300;500&family=Merriweather:ital,wght@0,700;1,300&family=Mulish&family=Roboto&family=Rubik&family=Stoke&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
   font-family:Baloo;
}

header{
    width: 100%;
    padding-top: 25px;
    background-image: url(image/hero-bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 98vh;
   background-position: center;

    .navbar{
        margin-left: 5%;
        margin-right: 5%;
        height: 60px;
        display: flex; 
        /* background-color:#303030; 
        padding-left: 5%;
        padding-right: 5%; */
        
        justify-content: space-between; 
       
        & h2{
            color: #fff;
            font-size: 35px;
            cursor: pointer;
    
            & span{
                color:orange;
            }
        }
        .nav{
    
            & ul{
                display: flex;
                gap: 40px;
                padding-top: 10px;
                font-size: 18px;
                font-weight: 500;
                list-style-type: none;
            }
            & li{
    
                & a{
                    text-decoration: none;
                    color: #fff;
                }
                & a:hover{
                    color: orange;
                    transition: ease .3s;
                }
            }
        }
    } 
    .details{
        width: 100%;
        margin: 20% 5%;
        & h2{
            color: #fff;
            font-size: 50px;
           
        }
        & p{
            color: #fff;
            font-size: 14px;
            padding-top: 40px;
            width: 470px;
    
            
        }
        
        & button{
            margin-top: 50px;
            height: 45px;
            width: 140px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            
    
        }
    }   

}

hr{
    height: 5px;
    background-color: orange;
    border: none;
    
}

/* details section */

.details-section{
    /* background-color: #101010; */
    justify-content: center;
    align-items: center;
    display: flex;
    height: 600px;
    /* color: #fff;
     */
    .details{
        
        justify-content: space-evenly;
        margin-left: 15%;
        & h2{
            font-size: 36px;
            /* width: 100%; */

        }
        & p{
            font-size: 18px;
            padding-top: 20px;
        }
    }
    & img{
        width: 450px;
        height:400px ;
        margin-right: 10%;
        
    }
}
/* product-section */


.product-section{
    height: 650px;
    width: 100%;
    text-align: center;
    padding-top: 40px;

    & h2{
        font-size: 36px;
        padding-bottom: 10px;
        
    }
    & p{
        font-size: 24px;
        padding-bottom: 20px;
    }
    .product{
        display: flex;
        justify-content: center;
        margin-left: 10%;
        width: 80%;

        .item{
            width: 30%;
            height: 420px;
            margin: 20px;
            text-align: left;
            border-radius: 10px ;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            

            .image{
                & img{
                    width: 100%;
                    height: auto;
                    border-radius: 10px 10px 0 0;
                    margin-bottom: 15px;
                    
                }
            }

            & h3{
                font-size: 24px;
                padding-left: 20px;
                padding-bottom: 5px;
                color: rgb(85,66,52);
            }
            & p{
                font-size: 16px;
                padding-left: 20px;
                color: #777;
            }

        }
        
    }
}

/* footer */

footer{
    width: 100%;
    text-align: center;
    
    


    .foot-pannel1{
        display: flex;
        background-image: url(image/pic6.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 60px;
        height: 270px;
        padding-left:  10%;
        padding-right: 10%; 
        justify-content: space-between;
           

        .foot-div{
            text-align: left;
           

           & h3{
                font-size: 22px;
                color: #fff;
            
            }

           & a{
            display: block;
            color: #ddd;
            text-decoration: none;
            padding-top: 15px;
            font-size: 18px;
            
           }
           & span{
            font-size: 24px;
            padding-right: 10px;
            
           }
           & p{
            color: #ddd;
            text-align: left;
            padding-top: 15px;
            width: 150px;
            font-size: 18px;
           }
        }
    
    }

    .foot-pannel2{
        height: 50px;
        align-items: center;
        background-color: #000;
        color: #fff;
        
        & p{
            padding-top: 15px;
            
        }
    }
}

